:root {
  --dark-green: #264653; 
  --yellow: #ffba08;
  --pink:  #ff2882;
  --purple: #963cff;
  --BNTA_purple: #37003c;
}

.App {
  text-align: center;
}

/* Nav Bar styling */
.navbar {
  background-color: var(--BNTA_purple);
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
  list-style-type: none;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-size: x-large;
  /* border-top: 2px solid black;
  border-bottom: 2px solid black; */
}
.navbar a {
  text-decoration: none;
  color: white;

}

/* Build Team styling */
.Main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 1000px;
  width: auto;
}

.pitch-container{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}

.pitch-image{
  position: relative;
  top: 0;
  left: 0; 
}

.player-buttons{
  display: flex;
  justify-content:space-between;
}

.hide {
  display: none;
}

.player-after-add{
  filter: brightness(70%)
}

.forward-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 22%;  
  left: 47%;
}

.midfielder1-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 33%;  
  left: 30%;
}

.midfielder2-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 33%;  
  left: 65%;
}

.defender-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 41%;  
  left: 47%;
}

.goalkeeper-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54%;  
  left: 47%;
}

.table-and-filter {
  margin: auto;
}

table {
  text-align: justify;
}

thead {
  display: block;
  border: 2px solid black;
}

tbody {
  height: 500px; 
  overflow: scroll;
  display: block;
  border: 2px solid black;
}

.team-logos {
  display: grid;
  grid-template-columns: repeat(3, auto); 
  width: 40%;
  column-gap: 15%;
  row-gap: 5%;
  /* place-items: center; */
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  /* background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); */
}

/* ===========TEAM LOGO BACKGROUNDS START============== */
.united-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.psg-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.arsenal-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.city-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.inter-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.juventus-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
  padding: 5px;
}

.liverpool-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.milan-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.west_ham-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
  padding: 7.5px;
}

.barcelona-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.real_madrid-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}

.atletico-logo {
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  border-radius: 10px;
}
/* ===========TEAM LOGO BACKGROUNDS END============== */

.main-home-container {
  display: grid;
  padding-top: 3%;
  row-gap: 5%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, 1000px);
}

.result-table {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.league-logos {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  gap: 253px;
  /* ASK A TRAINER ABOUT THIS GAP STYLE */
  border-top: 10px solid purple;
  padding-top: 50px;
  align-items: center;
  grid-template-columns: repeat(4,auto);
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}